<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      min-height: 100%;  
      background: #eee;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: #222;
      font-size: 14px;
      line-height: 26px;
      padding-bottom: 50px;
    }

    .resume-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 700px;   
      background: #fff;
      margin: 0px auto 0px; 
      box-shadow: 1px 1px 2px #DAD7D7;
      border-radius: 3px;  
      padding: 40px;
      margin-top: 50px;
    }

    .contact-section {
      width: 100%;
      text-align: left;
    }

    .experience-section {
      display: flex;
      width: 100%;
    }

    .experience-list {
      flex: 3;
      width: 75%;
      margin-right: 20px;
    }

    .extras-list {
      flex: 1;
      width: 25%;
    }

    .footer {
      flex: 1;
      width: 100%;
    }

    h1, h2, p, li {
      font-family: 'Tahoma', sans-serif;
    }

    .experience-subsection {
      list-style-type:square; 
      padding-left: 40px;
    }
    
.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;
  
  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}


.details {
  line-height: 20px;
  
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 40px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 60%;    
  }
  
  .right {
    tex-align: right;
    width: 39%;    
  }
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  .skills {
    
  }
    
  .skills__item {
    margin-bottom: 10px;  
  }
  
  .skills__item .right {
    input {
      display: none;
    }
    
    label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    
    input:checked + label {
      background: #79A9CE;
    }
  }
}

  </style>
</head>
<body>
  <div class="resume-container">
    <div class="contact-section">
      <div class="header">
        <div class="full-name"> <span class="first-name"><%= names.first %></span> <span class="last-name"><%= names.last %></span></div>
        <div class="contact-info">
        <% contacts.reverse().forEach((contact) => { %>
          <% if (contact.enabled === 'true') { %>
            <p style="text-align: right;"><span class="email"><%= contact.value %>  <%- contact.icon %></span></p>
          <% } %>
        <% }); %>
        </div
    </div>

    <div class="details">
    <div class="experience-section">
      <div class="experience-list">
        <div class="section__title">Experience</div>
          <div class="section__list">
          <% experiences.reverse().forEach((experience) => { %>
            <% if (experience.enabled === 'true') { %>
                <div class="section__list-item">
                  <ul>
            <li>
              <strong><%= experience.year %></strong>
              <p><span class="name"><%= experience.title %></span> at <span class="name"><%= experience.company %></span> - <i><%= experience.location %></i></p>
              <p><%- experience.description %></p>
            </li>
          </ul>
          </div>
            <% } %>
          <% }); %>
        </div>
        
      </br></br>

        <div class="section__title">Education</div>
          <% educations.reverse().forEach((education) => { %>
            <% if (education.enabled === 'true') { %>
              <ul>
            <li>
              <i><%= education.year %>:</i> - <strong><%= education.institution %></strong> - <%= education.location %>
              <p><%= education.degreeorcert %>: <%= education.status %></p>
            </li>
          </ul>
          <br/>
            <% } %>
          <% }); %>
      </div>

      <div class="extras-list">
        <div class="section__title">Skills</div>
          <% skills.reverse().forEach((skill) => { %>
            <% if (skill.enabled === 'true') { %>
              <ul><%= skill.title %>
            <li>
              <p><%- skill.description %></p>
            </li>
          </ul>
            <% } %>
          <% }); %>
      </div>
    </div>

      <div class="extras-list">
        <div class="section__title">Extras</div>
        <ul>
          <% extras.reverse().forEach((extra) => { %>
            <% if (extra.enabled === 'true') { %>
            <li>
              <strong><%= extra.date %></strong>
              <p><%= extra.keyword %>: <%= extra.description %></p>
            </li>
            <% } %>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
    <br/>
    <div class="footer">
      <p style="text-align: right; font-size: small;">Date Generated: <%= new Date().toLocaleDateString() %> :: Version: <%= version %></p>
    </div>
  </div>
</body>
</html>
